<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" package="de.galonga.analyticssample" android:versionName="0.6.1">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="24" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="AnalyticsSample">
		<receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver" android:enabled="true">
			<intent-filter>
				<action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver" android:exported="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
		<service android:name="com.google.android.gms.analytics.AnalyticsService" android:enabled="true" android:exported="false" />
		<service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
	</application>
</manifest>